In [70]:
import numpy as np
from numpy.random import randn
import pandas as pd

In [71]:
d = {'A':[1,2,np.nan] , 'B':[5, np.nan, np.nan] , 'C':[1,2,np.nan]}

In [72]:
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, nan]}

In [73]:
df = pd.DataFrame(d)

In [74]:
df

     A    B    C
0  1.0  5.0  1.0
1  2.0  NaN  2.0
2  NaN  NaN  NaN

In [75]:
df.dropna()

     A    B    C
0  1.0  5.0  1.0

In [76]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [77]:
df.dropna(thresh=1)

     A    B    C
0  1.0  5.0  1.0
1  2.0  NaN  2.0

In [78]:
df.fillna(value='d')

   A  B  C
0  1  5  1
1  2  d  2
2  d  d  d

In [79]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [80]:
pf1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['A1', 'A2', 'A3', 'A4']})

In [81]:
pf1

    A   B
0  A0  A1
1  A1  A2
2  A2  A3
3  A3  A4

In [82]:
pf = pd.DataFrame({'col1': [1,2,3,4],
                  'col2': [111,222,333,444],
                  'col3':['abc', 'def', 'hij', 'klm']})

In [83]:
pf.head()

   col1  col2 col3
0     1   111  abc
1     2   222  def
2     3   333  hij
3     4   444  klm

In [84]:
df['col2'].nunique()

KeyError: 'col2'

In [ ]:
pd.read_csv('example.csv')

In [ ]:
df = pd.read_csv('example.csv')

In [ ]:
df.to_csv('My_output', index = False)

In [ ]:
pd.read_csv('My_output')

In [ ]:
pd.read_excel('Excel_exa', sheetname='sheet1')

In [ ]:
pf.to_excel('Excel_my_example', sheet_name='Newsheet')

In [ ]:
data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

In [ ]:
data

In [ ]:
data[0].head()

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
df.to_sql('my_table', engine)

In [ ]:
sqldf = pd.read_sql('my_table', con=engine)

In [ ]:
sqldf

In [ ]:
import pandas as pd

In [ ]:
salary = pd.read_csv('Salaries.csv')

In [ ]:
salary.head()

In [ ]:
salary.head(2)

In [ ]:
salary.info()

In [ ]:
salary['BasePay'].mean()

In [ ]:
salary['OvertimePay'].max()