In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Salaries.csv')

/home/harshal/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
data.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [7]:
data['BasePay'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
data['JobTitle']

In [ ]:
data[data['EmployeeName'] == 'JOSEPH DRISCOLL']

In [ ]:
data[data['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

In [ ]:
data['TotalPayBenefits'].max()['EmployeeName']

In [8]:
data[data['TotalPayBenefits'] == data['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [11]:
sum(data[data['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [13]:
sum(data[data['Chef']]['JobTitle'].value_counts() == 1)

KeyError: 'Chef'

In [14]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [22]:
data['JobTitle'].apply(lambda a: chief_string(a))

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [25]:
data['title_len'] = data['JobTitle'].apply(len)

In [26]:
data[['JobTitle', 'title_len']]

                                              JobTitle  title_len
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                      CAPTAIN III (POLICE DEPARTMENT)         31
2                      CAPTAIN III (POLICE DEPARTMENT)         31
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                ...        ...
148649                                       Custodian          9
148650                                    Not provided         12
148651                                    Not provided         12
148652                                    Not provided         12
148653                      Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]